@model IronSchool.WebSite.Models.AccountModels.RecoverPasswordViewModel

@{
    ViewBag.Title = Resources.Resources.RecoverPassword;
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<div class="login-content">
    <!-- Forgot Password -->
    <div class="lc-block toggled" id="l-forget-password">
        @using (Html.BeginForm())
        {
        <div class="lcb-form card">
            <div class="card-header">
                <h2>
                    @Resources.Resources.RecoverPassword
                    <small>@Html.ValidationSummary(true)</small>
                </h2>
            </div>
            <p class="text-left">@Resources.Resources.RecoverPasswordMessage</p>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = Resources.Resources.UserName })
                </div>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <a id="recoverPasswordButton" href="#" class="btn btn-login btn-primary btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-check"></i></a>
        </div>

        <div class="lcb-navigation">
            <a href="@Url.Action("Login")" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>@Resources.Resources.LogIn</span></a>
        </div>
        }
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#recoverPasswordButton").click(function () {
                $("form").submit();
            });
        });
    </script>
}
