@using Resources;

@{
    ViewBag.Title = Resources.RecoverPassword;
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<div class="login-content">
    <div class="lc-block toggled" id="l-login">
        @using (Html.BeginForm())
    {
        <div class="lcb-form card">
            <div class="card-header">
                <h2>
                    @Resources.ApplicationName
                    <small>@Resources.ResetPassword</small>
                    <small>@Html.ValidationSummary(true)</small>
                </h2>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    @Resources.ResetPasswordSuccess
                </div>
            </div>

            <a id="resetPasswordButton" href="#" class="btn btn-login btn-primary btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-check"></i></a>
        </div>

        <div class="lcb-navigation">
            <a href="@Url.Action("Login")" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>@Resources.LogIn</span></a>
        </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#resetPasswordButton").click(function () {
                window.location = '@Url.Action("Login")';
            });
        });
    </script>
}