@model IronSchool.WebSite.Models.ResetPasswordVM
@using IronSchool.WebSite.Helpers
@{
    ViewBag.Title = Resources.Resources.ResetPassword;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h2>
                @Resources.Resources.MyProfile
                <small>@Resources.Resources.ResetPassword</small>
                <small>@Html.ValidationSummary(true)</small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <fieldset>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.FormFieldFor(m => m.UserName, 4, new { @readonly = "readonly" })
                    @Html.FormFieldFor(m => m.Password, 4, new { @type = "password" })
                    @Html.FormFieldFor(m => m.ConfirmPassword, 4, new { @type = "password" })
                </fieldset>
                @Html.Submit(Resources.Resources.Save)
                @Html.ActionLink(Resources.Resources.Back, "MyProfile", null, new { @class = "btn btn-default waves-effect" })
            </div>
        </div>
    </div>
}

