@model IronSchool.WebSite.Models.StudentVM
@using IronSchool.WebSite.Helpers

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h2>
                @Resources.Resources.Student
                <small>@Resources.Resources.Edit</small>
                <small>@Html.ValidationSummary(true)</small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <fieldset>
                    @Html.HiddenFor(m => m.StudentId)
                    @Html.FormFieldFor(m => m.FirstName, 4)
                    @Html.FormFieldFor(m => m.LastName, 4)
                    @Html.FormFieldFor(m => m.BirthDate, 4, new { @type = "date" })
                    @Html.FormFieldFor(m => m.Address, 12)
                    @Html.FormFieldFor(m => m.ContactMail, 6)
                    @Html.FormFieldFor(m => m.ContactPhone, 6)
                    @Html.FormSelectFieldFor(m => m.Sex, (SelectList)ViewBag.SexList, Resources.Resources.Select, 4)
                </fieldset>
                @Html.Submit(Resources.Resources.Save)
                @Html.BackButton()
            </div>
        </div>
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/bundles/kendoStyles")
}